@mixin bg-black-violet{
  background: linear-gradient(to bottom, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 23%, rgba(132,51,155,1) 100%);
}
@mixin bg-violet-black{
  background: linear-gradient(to bottom, rgba(132,51,155,1) 0%, rgba(132,51,155,1) 23%, rgba(0,0,0,1) 100%);
}
@mixin bg-violet-black-violet{
  background: linear-gradient(to bottom, rgba(132,50,155,1) 0%, rgba(0,0,0,1) 49%, rgba(132,50,155,1) 100%);
}