.d-flex{
  display: flex;
  &.align-items-center{
    align-items: center;
  }
  &.flex-wrap{
    flex-wrap: wrap;
  }
  &.flex-column{
    flex-direction: column;
  }
  &.justify-content-center{
    justify-content: center;
  }
  &.justify-content-evenly{
    justify-content: space-evenly;
  }
}
.w-100{
  width: 100%;
}
.position-absolute{
  position: absolute;
}
.position-relative{
  position: relative;
}
//SISTEMA DE MARGENES Y PADDING
@for $i from 1 through 10{
  .ml-#{$i} {
    margin-left: #{$i}rem;
  }
  .mr-#{$i} {
    margin-right: #{$i}rem;
  }
  .mt-#{$i} {
    margin-top: #{$i}rem;
  }
  .my-#{$i} {
    margin-top: #{$i}rem;
    margin-bottom: #{$i}rem;
  }
  .py-#{$i} {
    padding-top: #{$i}rem;
    padding-bottom: #{$i}rem;
  }
  .px-#{$i} {
    padding-left: #{$i}rem;
    padding-right: #{$i}rem;
  }
  .pb-#{$i} {
    padding-bottom: #{$i}rem;
  }
    .z-#{$i} {
    z-index: #{$i};
  }
}
.my-auto{
  margin-bottom: auto;
  margin-top: auto;
}
.mx-auto{
  margin-right: auto;
  margin-left: auto;
}
.mb-0{
  margin-bottom: 0 !important;
}
//SISTEMA DE FUENTES
@for $i from 15 through 70{
  .font-size-#{$i}{
    font-size: #{$i}px;
  }
}
.text-white{
  color: white;
  &:hover{
    color: white;
  }
}
.font-weight-bold{
  font-weight: bold;
}
.color-line{
  background: $morado;
  height: 5px;
  width: 100%;
}
.color-line-black{
  background: black;
  height: 5px;
  width: 100%;
}
.color-line-grey{
  background: $grey;
  height: 5px;
  width: 100%;
}
.bg-color{
  background-color: $morado;
  width: 280px;
}
.bg-color-black{
  background-color: black;
  width: 280px;
}
.bg-color-grey{
  background-color: $grey;
  width: 280px;
}
.bg-black{
  background: black;
}
.bg-grey{
  background-color: $grey;
}
.bg-violet{
  background-color: $morado;
}
.black-shadow{
  box-shadow: 10px 10px 56px 0px rgb(0, 0, 0);
}
.black-shadow-block{
  box-shadow: 0px 0px 51px 6px rgba(0,0,0,0.75);
}
.bar-star{
  height: 20px;
  width: 100%;
  border: 3px solid white;
  border-radius: 20px;
  .inner-bar{
    height: 100%;
    background-color: white;
    $j: 1;
    $k:20;
    @for $i from 1 through 5{
      &.star-#{$i}{
        width: #{$k}#{'%'};
      }
      $k: $k+20;
    }
  }
}