@import "colors";
@import "utils";
@import "mixins";
body{
  overflow-x: hidden;
}
#main-banner{
  height: 500px;
  .video-wrap{
    position: absolute;
    top: 0;
    left: 0;
    height: 500px;
    overflow: hidden;
    width: 100%;
    video{
      min-height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
  .overlay{
    height: 500px;
    width: 100%;
    top: 0;
    left: 0;
    background: transparentize($morado,0.6);
    z-index: 1;
  }
  .thumb-yt{
    z-index: 2;
    right: 30px;
    bottom: 30px;
  }
}
#info-gallery{
  .owl-nav{
    .nav-class{color:#84339b}
    .owl-next{position:absolute;top:43%;right:0}
    .owl-prev{position:absolute;top:43%;left:0}
  }
  .setup-start{
    tr{
      td:first-child{
        width: 100%;
      }
    }
  }
}
#show-intro{
  @include bg-black-violet
}
#build-intro{
  @include bg-violet-black;
}
#setup-intro{
  @include bg-violet-black-violet
}
//  FIX TABLA
#part-list{
  .dataTables_filter{
    color: white;
  }
  th{
    color: white;
  }
  a{
    color: white
  }
}
#cta{
  @include bg-black-violet
}
.owl-two{
  .owl-nav{
    .nav-class{
      color:white;
      background-color: transparent;
      font-size: 25px;
    }
  }
}